*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

html {
    font-size: 62.2%;
    background: #12121f;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
}

.container {
    width: 100%;
    height: 100%;
    color: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10rem 0 0 0;
}

.calender {
    background: #171726;
    height: 53rem;
    width: 45rem;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 .5rem 3rem  rgba(0, 0, 0, 0.4);
}

.month{
    background: #002b5b;
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    padding: 0 3vmin;
}

.month i{
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 .4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
}

.days div {
    display: flex;
    margin: .3rem;
    height: 5rem;
    width: calc(40.2rem/7);
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s;
    border-radius: 2px;
}

.days div:hover:not(.today, .prev-date, .next-date) {
    background: #020102;
    cursor: pointer;
}

.prevDate,
.nextDate {
    opacity: .5;
}

.prevDate:hover,
.nextDate:hover {
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.today {
    background-color: #167e56;
}

@media (max-width: 414px) {
    html{
        font-size: 2vmin;
    }
}

@media (min-width: 414px) and (max-width: 600px){
    html{
        font-size: 2vmin;
    }
}
